body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1494995536846-47ab0fc5df1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80");
  background-size: Cover;
}

.mynav {
  color: white;
}
.mynav:hover {
  color: red;
}
.btn.btn-dark {
  color: white;
}
.btn.btn-dark:hover {
  color: red;
  background-color: transparent;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
  width: 250px; /* Adjust the width as desired */
  height: 30px; /* Adjust the height as desired */
}

#nextBtn,
#prevBtn {
  color: black;
}

#search {
  color: black;
}

.my-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  margin: 50px auto;

  background-color: rgba(255, 255, 255, 0.5);
}
.img-circle {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
}
.content,
.buttons_profile {
  margin-left: 30px;
  color: black;
}
