{% extends 'base.html' %}

{% block content %}
{% if error_message %}
<div class="alert alert-danger">{{ error_message|upper }}</div>
{% else %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Profile Name</th>
            <th>Profile Creation Time</th>
            <th>Maturity Level</th>
            <th>Primary Lang</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for k, v in row.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}