{% extends 'base.html' %}
{%load static%}
{% block content %}

{% if plot_data %}
<div class="container my-chart">
    <img src="data:image/png;base64,{{ plot_data }}" alt="Total Watched Time By Profile">
</div>
<div class="container my-chart">
    {% if plot_data_top_3 %}
    <img src="data:image/png;base64,{{ plot_data_top_3 }}" alt="Total Watched Time By Profile">
    {% endif %}
</div>
<div class="container my-chart">
    {% if plot_data_top_3 %}
    <img src="data:image/png;base64,{{ plot_data_top_4 }}" alt="Total Watched Time By Profile">
    {% endif %}
</div>


{%else%}
{% if error_message %}
<div class="alert alert-danger">{{ error_message|upper }}</div>
{% else %}
<table class="table table-bordered">
    <thead>
        {%if filename == "Profiles.csv"%}
        <tr>
            <th>Profile Name</th>
            <th>Profile Creation Time</th>
            <th>Maturity Level</th>
            <th>Primary Lang</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for k, v in row.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{%else%}
<h2>User Profile Favorites</h2>
<p> <em>Filter by Profile Name /Title Name</em> </p>
<br>
<input type="text" id="search" onkeyup="filterTableFunc()" placeholder="Search...."><br><br>
<table class="table table-bordered my-table" id="myTable">
    <thead>
        <tr>
            <th>Profile Name</th>
            <th>Title Name</th>
            <th>Utc Title Add Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for k, v in row.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <button id="prevBtn" onclick="prevFunc()">Prev</button>
    <span id="pageInfo"></span>
    <button id="nextBtn" onclick="nextFunc()">Next</button>
</div>
<script>
    var currentPage = 1;
    var rowsPerPage = 5;
    var totalRows = 0;
    var filteredRows = [];
    var lastSearchTerm = "";

    function filterTableFunc() {
        var filterResult = document.getElementById("search").value.toLowerCase();
        var empTable = document.getElementById("myTable");
        var tr = empTable.getElementsByTagName("tr");

        if (filterResult !== lastSearchTerm) {
            // Search term has changed since last search, reset current page to 1
            currentPage = 1;
            lastSearchTerm = filterResult;
        }

        filteredRows = [];
        for (var i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            const tdArray = tr[i].getElementsByTagName("td");
            for (var j = 0; j < tdArray.length; j++) {
                if (tdArray[j].innerHTML.toLowerCase().indexOf(filterResult) > -1) {
                    filteredRows.push(tr[i]);
                    break;
                }
            }
        }

        totalRows = filteredRows.length;

        var startIndex = (currentPage - 1) * rowsPerPage;
        var endIndex = startIndex + rowsPerPage;

        for (var i = 0; i < filteredRows.length; i++) {
            if (i >= startIndex && i < endIndex) {
                filteredRows[i].style.display = "";
            }
        }

        var pageInfo = document.getElementById("pageInfo");
        var numPages = Math.ceil(totalRows / rowsPerPage);
        if (numPages > 1) {
            pageInfo.innerHTML = "Page " + currentPage + " of " + numPages + " (" + totalRows + " total rows)";
            var prevBtn = document.getElementById("prevBtn");
            var nextBtn = document.getElementById("nextBtn");
            prevBtn.disabled = currentPage === 1;
            nextBtn.disabled = currentPage === numPages;
        } else {
            pageInfo.innerHTML = "";
            document.getElementById("prevBtn").disabled = true;
            document.getElementById("nextBtn").disabled = true;
        }
    }


    function prevFunc() {
        if (currentPage > 1) {
            currentPage--;
            filterTableFunc();
        }
    }

    function nextFunc() {
        var numPages = Math.ceil(totalRows / rowsPerPage);
        if (currentPage < numPages) {
            currentPage++;
            filterTableFunc();
        }
    }
</script>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}