{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<h1>Profiles Analytics</h1>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Profile Name</th>
            <th>Profile Creation Time</th>
            <th>Maturity Level</th>
            <th>Primary Lang</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for k, v in row.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}