{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
        <div class="row">
                <div class="col-md-12">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h4 class="panel-title">
                                                <span class="glyphicon glyphicon-user">
                                                        {{user.first_name|capfirst}}
                                                        {{user.last_name|capfirst}}
                                                </span>
                                        </h4>
                                </div>
                                <br>
                                <div class="container profile-detail">
                                        <div class="content">
                                                <p><strong>Email:</strong> {{ user.email }}</p>
                                                <p><strong>Username:</strong> {{ user.username }}</p>
                                                <p><strong>Date Joined: </strong>{{ user.date_joined }}</p>
                                                <p><strong>Timezone:</strong> {{ user_timezone }}</p>

                                                {% if user.userprofile.profile_pic %}
                                                <p><strong>Profile Picture: </strong><img class="img-circle"
                                                                src=" {{ user.userprofile.profile_pic.url }}"
                                                                alt="Profile Picture">
                                                </p>
                                                {%else%}
                                                <p><strong>Profile Picture: </strong><img class="img-circle"
                                                                src="{% static 'Netflix/images/default_profile_pic.jpg' %}"
                                                                alt="Profile Picture">
                                                        {% endif %}
                                        </div>
                                        <form action="{% url 'users:change_profile_picture' %}" method="POST">
                                                <br>
                                                {% csrf_token %}
                                                <div class="buttons_profile">
                                                        <a href="{%url 'users:change_password' pk=user.pk%}">
                                                                <input class='btn btn-danger btn-sm' type=" submit"
                                                                        value="Change Password">
                                                        </a>
                                                        <a href="{%url 'users:change_profile_picture'%}"><input
                                                                        class="btn btn-danger btn-sm" type="submit"
                                                                        value="Change Picture">
                                                        </a>
                                                </div>
                                        </form>
                                </div>
                                {% endblock %}