<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <title>Netflix Content Data Analytics</title>
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>


  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- load jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{%static 'css/master.css'%}">
</head>

<body>

  <nav class="navbar  mynav" role="navigation" id="navbar">
    <div class="container">
      <a class="navbar-brand mynav" href="{% url 'home_page' %}"><u style="color: red;">N</u>etflix <u
          style="color: red;">C</u>ontent <u style="color: red;">D</u>ata
        <u style="color: red;">A</u>nalytics</a>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        {% if user.userprofile.profile_pic %}
        <a href=" {% url 'users:profile_detail' pk=user.pk %}"><img src=" {{ user.userprofile.profile_pic.url }}"
            alt="Profile Picture" class="img-circle"
            style="width: 30px; height: 30px; margin-top: 10px; margin-right: 10px;">
        </a>
        {% else %}
        <a href="{% url 'users:profile_detail' pk=user.pk %}">
          <img src="{% static 'Netflix/images/default_profile_pic.jpg' %}" alt="Default Profile Picture"
            class="img-circle" style="width: 30px; height: 30px; margin-top: 10px; margin-right: 10px;">
        </a>
        {% endif %}
        <li><a href="{%url 'uploads:csv_upload'%}" class="btn btn-dark">Upload CSV</a></li>
        <li><a href="{%url 'uploads:all_filles' %}" class="btn btn-dark">View Files</a></li>
        <li><a href="{%url 'users:logout'%}" class="btn btn-dark">Log out</a></li>
        <li><a href="{%url 'users:contact'%}" class="btn btn-dark">Contact Us</a></li>

        {% else %}
        <li><a href="{%url 'users:login'%}" class="btn btn-dark ">Log in</a></li>
        <li><a href="{%url 'users:signup'%}" class="btn btn-dark">Sign up</a></li>

        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container mycontent">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>