{% extends 'base.html'%}
{% block content %}
<div style="text-align:center; margin-top: 50px;">
    <h2> Greetings and welcome to our Netflix content data analytics web-page</h2>
    <br>
    <p>Welcome to our Netflix content data analytics web page! We understand that interpreting CSV
        files can be time-consuming and overwhelming. That's why we've developed a platform that makes it easy for you
        to upload and analyze your Netflix data.

        Our platform allows you to upload your CSV files and provides you with a range of useful features to help you
        interpret the data. You can view your data in various formats, including graphs and charts, to help you identify
        trends and patterns.

        Our platform also allows you to filter and sort your data by various criteria such as date, time, and account.
        This makes it easy for you to analyze specific segments of your data and gain insights into user behavior.

        In addition to these features, we also provide you with custom reports and analysis. Our team of data experts
        can help you understand your data better and provide you with valuable insights that can help you make
        data-driven decisions.

        Whether you're a content creator, marketer, or business owner, our platform can help you optimize your Netflix
        strategy and stay ahead of the competition.

        So why wait? Sign up today and start analyzing your Netflix data like a pro!
    </p>
</div>
{% endblock %}