{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    {% if user.is_authenticated %}
    <h3>Greetings {{user.userprofile}} and welcome to our Netflix content data analytics web-page!</h3>
    <br>
    <p>We understand that interpreting CSV
        files can be time-consuming and overwhelming. That's why we've developed a platform that makes it easy for you
        to upload and analyze your Netflix data.</p>

    <p>Our platform allows you to upload your CSV files and provides you with a range of useful features to help you
        interpret the data. You can view your data in various formats, including tables and charts, to help you identify
        trends and patterns.</p>

    <p>Our platform also allows you to filter and sort your data by various criteria such as date, time, and account.
        This makes it easy for you to analyze specific segments of your data and gain insights into user behavior.</p>

    <p>In addition to these features, we also provide you with custom reports and analysis. Our team of data experts
        can help you understand your data better and provide you with valuable insights that can help you make
        data-driven decisions.</p>

    </p>
    <p>
        Go to <a href="https://www.netflix.com/account/getmyinfo"
            style="color: red;">https://www.netflix.com/account/getmyinfo</a> and
        follow the instructions.
    </p>

    {% else %}
    <h3>Greetings and welcome to our Netflix content data analytics web-page</h3>
    <br>
    <p>We understand that interpreting CSV
        files can be time-consuming and overwhelming. That's why we've developed a platform that makes it easy for you
        to upload and analyze your Netflix data.</p>

    <p>Our platform allows you to upload your CSV files and provides you with a range of useful features to help you
        interpret the data. You can view your data in various formats, including tables and charts, to help you identify
        trends and patterns.</p>

    <p>Our platform also allows you to filter and sort your data by various criteria such as date, time, and account.
        This makes it easy for you to analyze specific segments of your data and gain insights into user behavior.</p>

    <p>In addition to these features, we also provide you with custom reports and analysis. Our team of data experts
        can help you understand your data better and provide you with valuable insights that can help you make
        data-driven decisions.</p>

    <p>So why wait? <a href="{%url 'users:signup'%}" style="color:red"><strong><em>Sign up</em></strong></a> today and
        start analyzing your Netflix data like a pro!
    </p>
    <p>
        Go to <a href="https://www.netflix.com/account/getmyinfo"
            style="color: red;">https://www.netflix.com/account/getmyinfo</a>on how to get your raw data and start
        analyzing it.
    </p>
    {% endif %}
</div>
{% endblock %}