{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Welcome back, {{ user.username }}!</h1>
    <br>
    <p>You can upload CSV files and explore interactive charts and visualizations.</p>
    <p>Start by uploading your data to get valuable insights and make data-driven decisions.</p>
    <p>
        Go to <a href="https://www.netflix.com/account/getmyinfo"
            style="color: red;">https://www.netflix.com/account/getmyinfo</a> and
        follow the instructions.
    </p>

</div>
{% endblock %}